/* TOTAL 100vh = 1080px Comprimento variavel e 1920 Largura fixa. */
/* USANDO 300vh na foto = 3240px */
/* 100vh = 1080px - 16px (body) - 100px (header) - 50px (footer) = 914px */

/* Para eu marter os componentes dentro do body */
:root {
  --alt-page: 300vh; /* vh (viewport weight): ALTURA da imagem no body */
  --lar-page: 100vw; /* vw (viewport width): LARGURA da imagem no body */
  --size-fnt: 16px; /* Tamanho da fonte padrão 16px / 5 = 3.2vh */
}
/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: var(--size-fnt);
}
body {    
    /* resolucao padrao 1920x1080 de 1561Lx869A a imagem tem que cobrir 100% */
    display: flex;
    margin: 3px;
    flex: 1 1 var(--lar-page); /* vw (viewport width): largura da tela */
    flex-wrap: wrap;
    min-height: var(--alt-page); /* altura mínima do body */
    /* flex-direction: column; */
    font-size: 1.25rem;
}
.interface {
    max-width: 1280px;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* FIM ESTILO GERAL */
/* CABECALHO */
header, nav, main, footer {
    display: flex;
    margin: 3px;
}
header {
    flex: 1 1 var(--lar-page);
    /*height: var(--alt-header); */
    height: 100px;
    align-items: center;
    justify-content: center;
}
#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
header #logo{
    flex: 0 1 200px;
}
nav{
    flex: 1 1 200px;
    /*height: 100px;*/
    align-items: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: inherit;
}
nav a{
    margin: 3%;
    font: 20pt; 
}
/* FIM CABECALHO */
main {
    flex: 20 1 500px;                       
    height: calc(var(--alt-page) - 224px);  /*330px */    
    display: flex;
    flex-direction: column; 
}
/* SECAO 1 */
section.inicio {
/*.container_super { */
    display: flex;
    justify-content:center; 
    align-content: flex-start;
    padding: 100px 0px 600px 1120px; /*100px texto p/ baixo - 600 tam section -  1120px traz para DIREITA */
  }
.item-direita {
    /*border: 4px solid #312E81;   box */
    border-left: 4px solid #312E81; /* borda lado esquerdo */
    width: 100%;    /* espaco interno do box */
    padding: 15px;  /* espaco entre o texto e os quatro cantos do box */
  }
.item-direita h1 {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: #312E81;
  }
.item-direita p {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #555;
  }
/* FIM SECAO 1 */

/* SECAO 2 */
h2.titulo{
    /* Minhas */
    color: #0d0c23; 
    font-size: 3.25rem;
    font-weight: bolder;
    text-align: center;
}
h2.titulo span{
    /* Especialidades . */
    color:#FFFFFF;
    background-color: #0d0c23;
}
section.especialidades{
    padding: 80px 4%; /* 80px desce a section */
}
section.especialidades .flex{
    gap: 60px;
}
/* chama a section e a classe especialidades tambem... */
.especialidades .especialidades-box{
    color: #FFF;        
    background-color: #0d0c23;      /* #312E81  #0d0c23 */
    padding: 40px;
    border-radius: 20px;
    /* border: 2px solid #fff; */
    margin-top: 45px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff7b ;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #312E81;
    background-color: #FFF;
}
.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
}
/* FIM SECAO 2 */

/* RODAPÉ */
footer {
    flex: 1 1 var(--lar-page);
    /*height: var(--alt-footer);*/
    height: 100px;
}
/* FIM RODAPÉ */




.hero {
    /* flex: 1; */
    background-image: url("CapaPortfolio2.png"); /*Trocar foto de fundo: CapaPortfolio2.png - Vitoria62.png */
    background-repeat:no-repeat;
    background-position:unset;
    /* background-size:contain; */
    background-size:cover;

    max-width: 100%;
    /* max-height: calc(var(--alt-image) - 100px - 80px); /* header + footer */
    max-height: var(--alt-page);
    height: auto;
}





/*                              LARGURA*/
@media only screen and (max-width: 1080px) { /* 1560px - 923px LARGURA: Tablets 1080Lx667A e mobile  L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightgreen;
        /*font-size: calc( var(--size-fnt) - 16px); /* 20px */
        font-size: 1.25rem;
        background-size:contain;
    }
    main{
        height: calc(var(--alt-page) - 330px); /* 436px em 13:55 */
    }
    .hero {
        background-size:contain;
    }
    .texto-direita {
        font-size: 1.25rem;
    }
}

/*                              LARGURA*/
@media only screen and (max-width: 717px) { /* 768px LARGURA: Tablets e mobile 432Lx810A  L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightblue;
        /*font-size: calc( var(--size-fnt) - 20px); /* 16px */
        font-size: 1.25rem;
    }
    main{
        height: calc(var(--alt-page) - 436px); 
    }

     .conteudo-main {
        justify-content: center;
    }

    .texto-direita {
        font-size: 1.15rem;
    }

    .hero {
        background-size:contain;
    }
    nav{
        height: 100px; 
    }    
    #openMenu, #closeMenu {
        display: block;
    }
    #openMenu {
        margin-left: auto;
    }
    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px; 
    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
    }
}

