/* TOTAL 100vh = 1080px Comprimento variavel e 1920 Largura fixa. */
/* USANDO 300vh na foto = 3240px */
/* 100vh = 1080px - 16px (body) - 100px (header) - 50px (footer) = 914px */

/* Para eu marter os componentes dentro do body */
:root {
  --alt-page: 300vh; /* vh (viewport weight): ALTURA da imagem no body */
  --lar-page: 100vw; /* vw (viewport width): LARGURA da imagem no body */
  --size-fnt: 36px; /* Tamanho da fonte padrão */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: var(--size-fnt);
}
body {    
    /* resolucao padrao 1920x1080 de 1561Lx869A a imagem tem que cobrir 100% */
    display: flex;
    margin: 3px;
    flex: 1 1 var(--lar-page); /* vw (viewport width): largura da tela */
    flex-wrap: wrap;
    min-height: var(--alt-page); /* altura mínima do body */
    /* flex-direction: column; */
}
header, nav, main, footer {
    display: flex;
    margin: 3px;
}
header {
    flex: 1 1 var(--lar-page);
    /*height: var(--alt-header); */
    height: 100px;
    align-items: center;
    justify-content: center;
}
#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
header #logo{
    flex: 0 1 200px;
}
nav{
    flex: 1 1 200px;
    /*height: 100px;*/
    align-items: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: inherit;
}
nav a{
    margin: 3%;
    font: 20pt; 
}

main {
    flex: 20 1 500px;
    /* flex: 1;  ocupa o espaço disponível */
    height: calc(var(--alt-page) - 224px);  /*330px*/
    justify-content: center;
    align-items: center;
}

footer {
    flex: 1 1 var(--lar-page);
    /*height: var(--alt-footer);*/
    height: 100px;
}

.hero {
    /* flex: 1; */
    background-image: url("CapaPortfolio2.png"); /*Trocar foto de fundo: CapaPortfolio2.png - Vitoria62.png */
    background-repeat:no-repeat;
    background-position:unset;
    /* background-size:contain; */
    background-size:cover;

    max-width: 100%;
    /* max-height: calc(var(--alt-image) - 100px - 80px); /* header + footer */
    max-height: var(--alt-page);
    height: auto;
}

/*                              LARGURA*/
@media only screen and (max-width: 1560px) { /* 923px LARGURA: Tablets 1080Lx667A e mobile  L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightgreen;
        /*font-size: calc( var(--size-fnt) - 16px); /* 20px */
        font-size: .6rem;
        background-size:contain;
    }
    main{
        height: calc(var(--alt-page) - 330px); /* 436px em 13:55 */
    }
    .hero {
        background-size:contain;
    }
}

/*                              LARGURA*/
@media only screen and (max-width: 717px) { /* 768px LARGURA: Tablets e mobile 432Lx810A  L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightblue;
        /*font-size: calc( var(--size-fnt) - 20px); /* 16px */
        font-size: .55rem;
    }
    main{
        height: calc(var(--alt-page) - 436px); 
    }
    .hero {
        background-size:contain;
    }
    nav{
        height: 100px; 
    }    
    #openMenu, #closeMenu {
        display: block;
    }
    #openMenu {
        margin-left: auto;
    }
    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px; 
    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
    }
}
