/* TOTAL 100vh = 1080px Comprimento variavel e 1920 Largura fixa. */
/* USANDO 300vh na foto = 3240px */
/* 100vh = 1080px - 16px (body) - 100px (header) - 50px (footer) = 914px */

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body{
    background-image: url(CapaPortfolio2.png);
    height: 300vh;
    flex: 1 1 100vw; /* flex-grow | flex-shrink | flex-basis */
    /* 1 = crescer | 1 = encolher | 100vw = tamanho base */
    /*100vh = 100% da altura da viewport */
    /*100vw = 100% da largura da viewport */
    /*100vs = 100% da menor dimensão entre altura e largura da viewport */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu do cabecalho */

header, footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header {
    height: 100px;
    flex: 1 1 100vw;
}
main {
    flex: 20 1 500px;                   /* crescer 20 partes | encolher 1 parte | tamanho base a partir de 500px em qualquer direcao */
    height: calc(300vh - 224px);
    padding: 20px;
    flex: 1;
}
footer{
    margin-top: auto;
    height: 50px;
    flex: 1 1 100vw;
}

.container{
    display: flex;
    font-size: 25px;
}
.box{
    margin: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}
.box1{
    width: 20%;                 /* 300px: dimensao L1920px - C1080px */
    font-size: 1.5rem;          /* r = root, melhoria do "em". Que é o body 16px */
    height: 100px;
    margin-right: 20px;
    background-color: #3498bd;
}
.box2{
    width: 20%;                 /*30% */
    /*font-size: 1em;             tam fonte corresponde 100% o elemento div PAI, "container" 28px */
    font-size: 1.5em;             /*vai corresponder ao tamanho mais 50% do elemento div PAI, "container" 2px */
    height: 100px;
    background-color: #e74c3c;
}


@media only screen and (max-width: 923px) {
    body{
        background-color: lightblue;
    }
    .container{
        flex-direction: row;
    }
}
@media only screen and (max-width: 717px) {
    body{
        background-color: lightgreen;
    }
    .container{
        flex-direction: column;
    }
}