/* TOTAL 100vh = 1080px Comprimento variavel e 1920 Largura fixa. */
/* USANDO 300vh na foto = 3240px */
/* 100vh = 1080px - 16px (body) - 100px (header) - 50px (footer) = 914px */

/* Para eu marter os componentes dentro do body */
:root {
  --alt-page: 300vh; /* Altura da imagem no body em vh (viewport de ALTURA) */
  --size-fnt: 36px; /* Tamanho da fonte padrão */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: var(--size-fnt);
}

body {
    min-height: var(--alt-page); /* altura mínima do body */
    display: flex;
    flex-direction: column;
}

header {
    height: var(--alt-header);
}

main {
    flex: 1; /* ocupa o espaço disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    /* flex: 1; */
    background-image: url("CapaPortfolio2.png"); /*Trocar foto de fundo: CapaPortfolio2.png - Vitoria62.png */
    background-repeat:no-repeat;
    background-position:unset;
    background-size:contain;

    max-width: 100%;
    /* max-height: calc(var(--alt-image) - 100px - 80px); /* header + footer */
    max-height: var(--alt-page);
    height: auto;
}

footer {
    height: var(--alt-footer);
}

/*                              LARGURA*/
@media only screen and (max-width: 923px) { /* LARGURA: Dispositivos menores L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightblue;
        /*font-size: calc( var(--size-fnt) - 16px); /* 20px */
        font-size: .7rem;
    }
}

/*                              LARGURA*/
@media only screen and (max-width: 717px) { /* 768px LARGURA: Tablets e dispositivos menores L x H */
    :root {
        --alt-page: 100vh;
    }
    body{
        background-color: lightgreen;
        /*font-size: calc( var(--size-fnt) - 20px); /* 16px */
        font-size: .6rem;
    }
}
